<section class="bg-main-light shadow p-2 my-2 rounded-4">
  <h1 class="h2 text-main">Register Now:</h1>

  <form [formGroup]="registerFormGroup" (ngSubmit)="registerSubmit()">


    <div class="my-2">
      <label for="username">username</label>
      <input [ngClass]="{

        'is-valid': !registerFormGroup.get('username')?.errors && (registerFormGroup.get('username')?.touched
      ||registerFormGroup.get('username')?.dirty),
        'is-invalid':registerFormGroup.get('username')?.errors && (registerFormGroup.get('username')?.touched
      ||registerFormGroup.get('username')?.dirty)




      }" id="username" type="text" class="form-control" formControlName="username">
      @if (registerFormGroup.get('username')?.errors && (registerFormGroup.get('username')?.touched
      ||registerFormGroup.get('username')?.dirty)) {
      <div class="alert alert-danger w-50">
        @if (registerFormGroup.get('username')?.getError('required')) {
        <P class="m-0">
          "username is required"

        </P>
        }@else if(registerFormGroup.get('username')?.getError('minlength'))
        { <P class="m-0">"username Should be more than or equal 3 chars"</P>
        }@else if (registerFormGroup.get('username')?.getError('maxlength')) { <P class="m-0">"username Should be less
          than or
          equal
          20 chars"

        </P>}


      </div>
      }

    </div>

    <div class="my-2">
      <label for="email">email</label>
      <input [ngClass]="{

      'is-valid': !registerFormGroup.get('email')?.errors && (registerFormGroup.get('email')?.touched
    ||registerFormGroup.get('email')?.dirty),
      'is-invalid':registerFormGroup.get('email')?.errors && (registerFormGroup.get('email')?.touched
    ||registerFormGroup.get('email')?.dirty)




    }" id="email" type="email" class="form-control" formControlName="email">


      @if (registerFormGroup.get('email')?.errors && registerFormGroup.get('email')?.touched) {
      <div class="alert alert-danger w-50">
        @if (registerFormGroup.get('email')?.getError('required')) {
        <p class="m-0"> email required</p>
        }@else if (registerFormGroup.get('email')?.getError('email')) {
        <p class="m-0">Enter Valid email </p>
        }

      </div>
      }


    </div>


    <div class="my-2">
      <label for="password">password</label>
      <input [ngClass]="{

      'is-valid': !registerFormGroup.get('password')?.errors && (registerFormGroup.get('password')?.touched
    ||registerFormGroup.get('password')?.dirty),
      'is-invalid':registerFormGroup.get('password')?.errors && (registerFormGroup.get('password')?.touched
    ||registerFormGroup.get('password')?.dirty)




    }" id="password" type="password" class="form-control" formControlName="password">


      @if (registerFormGroup.get('password')?.errors && registerFormGroup.get('password')?.touched) {
      <div class="alert alert-danger w-50">
        @if (registerFormGroup.get('password')?.getError('required')) {
        <p class="m-0"> password required</p>
        }@else if (registerFormGroup.get('password')?.getError('pattern')) {
        <p class="m-0">Enter Valid password </p>
        }

      </div>
      }

    </div>


    <button type="submit" class="btn-main ms-auto d-block">Register


      @if (isLoading) {
      <span><i class="fas fa-span fa-spinner"></i></span>
      }
    </button>
    @if (msgError) {
    <p class="alert alert-danger w-50 m-0">{{ msgError }}</p>
    }
    @if (msgSuccess) {
    <p class="btn-main">success</p>
    }
  </form>
</section>